<h2>Hey Welcome Admin</h2>
<br><br>

<%= link_to "Users" , admin_users_path ,class:"btn btn-success" %>
<br><br>

<%= link_to "Products" , admin_products_path ,class:"btn btn-success" %>
<br><br>

<%= link_to "Payments" , admin_payments_path ,class:"btn btn-success" %>