<h2>Hey.,Welcome Admin :)</h2>
<br><br>

<%= link_to "Users" , ad_users_path ,class:"btn btn-success a-btn" %>
<br><br>

<%= link_to "Products" , ad_products_path ,class:"btn btn-success a-btn" %>
<br><br>

<%= link_to "Payments" , ad_payments_path ,class:"btn btn-success a-btn" %>