/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 body{
     margin: 0% 0%;
     /* background-color: rgb(134, 233, 233); */
     background-color: #A7C4BC;
     /* background-color: #F0F0F0; */
 }
 .input_box{
     width: 30%;
    height: 35px;
    border-radius: 20px;
    outline: none;

 }
 .alert{
     text-align: center;
     /* width: 300px; */
 }
 .mainBody{
     /* margin-top: 100px; */
    margin: 20px 40px;
 }

 .navbarMine{
     background-color: white;
     /* background-color: #B2B8A3; */
     justify-content: space-between;
     display: flex;
     justify-items: center;
     position: sticky;
     width: 100%;
     top: 0;
     z-index: 2;
 }
 .signOutText{
    padding: 20px;
    font-size: 16px;
 }
 .showProduct{
     background-color: azure;
     padding: 23px;
     margin-top: 5px;
 }
 .payMethod{
     width: 30%;
 }
 .btnw{
     width: 80px;
 }
.btnwhite{
    color: white;
}
.btn-success{
    color: white;
}
.destroybtn{
    background-color: rgb(230, 116, 116);
    color: azure;
    padding: 9px 12px;
    border-radius: 5px;
}
.editbtn{
    background-color: rgb(147, 224, 140);
    color: azure;
    padding: 9px 12px;
    border-radius: 5px;
}
.detailsbtn{
    background-color: rgb(90, 174, 230);
    color: azure;
    padding: 9px 12px;
    border-radius: 5px;
}
.btnwhite{
    color: white;
}

.image{
    height: 150px;
    width: 200px;
}
.image-login{
    height: 480px;
    width: 650px;
    
}
.image-lg{
    height: 300px;
    width: 400px;
}
.image-lg-x{
    height: 400px;
    width: 500px;
}
.emptyItems{
    text-align: center;
    justify-content: center;
    margin-top: 8%;
}

.myCard{
    display: flex;
    justify-content: space-between;
}
.myCardLogin{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 50px 100px;
}
.newProd{
    padding: 16px;
    background-color: rgb(88, 202, 94);
    font-size: 15px;
    border-radius: 5px;
}
.profileAlert{
    background-color: rgba(233, 186, 186, 0.884);
    padding: 10px 30px;
    width: max-content;
    height: 100px;
    text-align: center;
    display: flex;
    
    align-items: center;
}
.buy{
    height: max-content
}

.dropdown{
    height: 50px;
}
.filterBar{
    display: flex;    
    align-items: center;
    padding: auto 20px;
    margin-bottom: 20px;
}
.removeFilter{
    margin-left: 20px;
    margin-top: -18px;
}
.a-btn:visited{
    color: azure;
}

.icon-heart-notfav{
    padding: 8px;
    background-color: gray;
    color: white;
    border-radius: 20px;
}
.icon-heart-notfav:visited{
    color: white;
}
.icon-heart-notfav:hover{
    background-color: red;
}
.icon-heart-fav{
    padding: 8px;
    background-color: red;
    color: white;
    border-radius: 20px;
}
.icon-heart-fav:visited { 
    color: white;
}
.icon-heart-fav:hover{
    background-color: gray;
    color: white;
}
.icon{ 
    margin-bottom:15px;
    text-align:right;
}
.collapsebtn{
    margin-bottom: 20px;
}